<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/icon/favicon.ico" width="32px" style="float: left">
    <ion-title>SpotiiFree - Tocar Música</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img *ngIf="imagem" [src]="imagem">
      </div>
      <ion-button slot="secondary" (click)="baterFoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{username}}</h3>
    </div>
    <ion-button expand="full" color="primary">{{useremail}}</ion-button>
  </div>
    
</ion-content>
