<ion-header>
  <ion-toolbar>
    <ion-title>SpotiiFree - Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img *ngIf="imagem" [src]="imagem">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{username}}</h3>
    </div>
    <ion-button expand="full" color="primary">{{useremail}}</ion-button>
  </div>
    <ion-button (click)="baterFoto()">Foto</ion-button>
    
</ion-content>
