<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/icon/favicon.ico" width="32px" style="float: left">
    <ion-title>SpotiiFree - Buscar Música</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (click)="buscar()" [(ngModel)]="search" showCancelButton="focus" animated="true" cancelButtonText="Custom Cancel"></ion-searchbar>
  <ion-list>
    <ion-item-sliding>
      <ion-item button *ngFor="let musica of musicasEncontradas">
        <ion-avatar slot="start">
          <img src="{{musica.artwork_url}}">
        </ion-avatar>
        <ion-label>
          <h2>{{musica.title}}</h2>
          <h3>{{musica.album}}</h3>
          <p>{{musica.description}}</p>
        </ion-label>
        <audio controls>
          <source src="https://music-streaming-thing.herokuapp.com/stream/{{musica.data}}">
        </audio>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> 
  </ion-list>
</ion-content>