<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/icon/favicon.ico" width="32px" style="float: left">
    <ion-title>SpotiiFree - Buscar Música</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="search"></ion-searchbar>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="buscar()" color="secondary" mode="ios">
          <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <ion-list>
    <ion-item-sliding>
      <ion-item (click)="tocar(musica[0])" button *ngFor="let musica of musicasEncontradas">
        <ion-avatar slot="start">
          <img src="{{musica[0].artwork_url}}">
        </ion-avatar>
        <ion-label>
          <h2>{{musica[0].title}}</h2>
          <h3>{{musica[0].album}}</h3>
          <p>{{musica[0].description}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>