<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary" [hidden]="!isLogged">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/icon/favicon.ico" width="32px" style="float: left">
    <ion-title>
      SpotiiFree - Home
    </ion-title>

    <ion-button [hidden]="!isLogged" slot="end" (click)="gotoLogoff()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>

    <ion-button [hidden]="isLogged" slot="end" (click)="gotoLogin()">
      <ion-icon name="log-in"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Feature 1</ion-card-subtitle>
      <ion-card-title>Músicas de graça</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Feature 1</ion-card-subtitle>
      <ion-card-title>Músicas de graça</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Feature 1</ion-card-subtitle>
      <ion-card-title>Músicas de graça</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </ion-card-content>
  </ion-card>
</ion-content>